body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #210a24;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.navbar{
    margin-left: 23%;
}
.logo img {
    height: 60px;
    margin-right: 20px;
    margin-left: 15%;
}
.navbar ul {
    list-style: none;
    margin-left: 0%;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
    position: relative;
}

.navbar ul li a {
    color: #b59448;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 25px;
}

.navbar ul li a:hover, .navbar ul li a.active {
    background-color: #d8ba73;
    color: black;
}
.dropdown {
    position: relative;
  }

  .dropdown-toggle {
    background-color: #210a24;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .dropdown-toggle:hover {
    background-color: #575757;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 3rem);
    left: 0;
    background-color: #cfccbf;
    color: #3b1d30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 250px;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid rgb(188, 147, 72);
  }

  .dropdown-menu a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #3b1d30;
    text-align: left;
  }

  .dropdown-menu a:hover {
    background-color: #d3bf76;
  }

  .dropdown.show .dropdown-menu {
    display: block;
  }
  /* dropdown-menu1 */
  .dropdown1 {
    position: relative;
  }

  .dropdown-toggle1 {
    background-color: #210a24;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .dropdown-toggle1:hover {
    background-color: #575757;
  }

  .dropdown-menu1 {
    display: none;
    position: absolute;
    top: calc(100% + 3rem);
    left: 0;
    background-color: #cfccbf;
    color: #3b1d30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 250px;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid rgb(188, 147, 72);
  }

  .dropdown-menu1 a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #3b1d30;
    text-align: left;
  }

  .dropdown-menu1 a:hover {
    background-color: #d3bf76;
  }

  .dropdown1.show .dropdown-menu1 {
    display: block;
  }

.main-content, .content-section, .services-section, .carousel-section, .design-styles-section {
    padding: 0px;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background: linear-gradient(to bottom, #2f162d 70%, #cfccbf 30%);
}

.image-section img {
    width: 70%;
    height: auto;
    border-radius: 0 0 200px 0;
    vertical-align: middle;
    padding-left: 10%;
}

.text-section {
    width: 50%;
    text-align: left;
    padding-bottom: 10%;
}

.section-one-text h2 {
    font-size: 56px;
    color: #d8ba73;
    margin: 0;
    line-height: 1.2;
}

.section-two-text h2, .section-two-text p {
    color: #2f162d;
}

.section-two-text h2 {
    font-size: 56px;
    margin: 0;
    line-height: 1.2;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #d8ba73;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #a08c68;
}

footer {
    padding: 20px;
    background-color: #3D2141;
    text-align: center;
    color: #fff;
}

.content-section {
    background-color: #cfccbf;
    color: #000;
    padding: 40px;
}

.new-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-content .text-section {
    width: 50%;
    text-align: left;
    padding-left: 5%;
}

.new-content .image-section {
    width: 40%;
    text-align: right;
    padding-right: 5%;
}

.new-content .image-section img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    padding-right: 5%;
}

.services-section {
    background-color: #2f162d;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.services-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
}

.service-item {
    background-color: rgb(58, 28, 61);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    cursor: pointer;
}

.service-item h3 {
    font-size: 24px;
    color: #d8ba73;
    margin-bottom: 20px;
}

.service-item p {
    color: #b1aa99;
}

.services-section .cta-button {
    margin-top: 40px;
    background-color: #d8ba73;
    color: #3D2141;
    padding: 15px 30px;
}

.services-section .cta-button:hover {
    background-color: #a08c68;
}
.carousel-section{
    background: #cfccbf;
}
.section-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #2f162d;
    padding-top: 10px; /* Adjust as needed */
}

.section-heading p {
    font-size: 1.2em; /* Adjust as needed */
    margin: 0 0 10px; /* Adjust spacing between paragraph and heading */
    line-height: 1.4; /* Adjust for better readability */
}

.section-heading h2 {
    height: fit-content;
    font-size: 2.5em; /* Adjust as needed */
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Adjust as needed */
    color: #3D2141;
}




.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    margin: 0 auto;
    width: 900px;
    position: relative;
    
}

.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    height: 250px; /* Corrected typo from "250ppx" to "250px" */
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translate(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translate(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-4 {
    left:30%;
    right: -50px;
    transform: translate(50%);
}

.gallery-item-5 {
    left: 50%;
    right: 10%;
    opacity: 0.4;
    transform: translate(50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid black;
    border-radius: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -40px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid black;
    border-radius: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    right: -40px; /* Corrected from "left" to "right" */
    padding: 10px;
    position: absolute;
    top: 45%;
    transform: rotate(315deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover::before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 10px;
}

.gallery-nav li {
    background: #a08c68;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #a08c68;
}
.design-styles-section {
    padding: 50px 0;
    text-align: center;
    background: #2f162d;
    
}

.section-header h2 {
    font-size: 2.5em;
    margin: 0 0 20px;
    color: #d8ba73; /* Adjust text color as needed */
}

.design-styles-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    
}

.design-style-card {
    background-color: #3E2A56; /* Card background color */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    position: relative;
}

.design-style-card img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #544072; /* Adjust border color as needed */
    border: solid 1px #d8ba73;
}

.design-style-card p {
    margin: 0;
    padding: 15px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5); /* Text background color for better readability */
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #FFFFFF; /* Text color */
}

@media (max-width: 768px) {
    .design-styles-container {
        flex-direction: column;
        gap: 20px;
    }

    .design-style-card {
        width: 100%;
    }
}
footer {
    background-color: #210a24;
    color: #a08c68;
    padding: 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

.logo {
    width: 250px; /* Adjust width as needed */
    margin-bottom: 10px;
}

.footer-section h3, .footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #a08c68;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    gap: 10px;
    color: #a08c68;
}

.social-media a {
    color: #a08c68;
    height: 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-media a:hover {
    color: #cfccbf; /* Example hover color */
}

.contact-section p {
    margin: 5px 0;
}

.contact-section a {
    color: #fff;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #574B60;
    padding-top: 10px;
    margin-top: 10px;
}

.country-selector {
    display: flex;
    align-items: center;
    gap: 5px;
}

.country-selector img {
    width: 24px;
    height: 16px;
}
.floating-contact {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .floating-contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }

  .floating-contact a:hover {
    background-color: #ffffff;
  }

  .floating-contact a img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .image-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark background behind the text for better readability */
    padding: 20px;
    transition: all 1s ease; /* Smooth transition */
    font-size: xx-large;
    background: transparent;
}

.text-overlay p {
    color: rgb(255, 255, 255);
}

.text-overlay.centered {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    background: none; 
}
